/*header*/
body {
	background-color: pink;
}
.bg-color-morado {
	background-color: #4d001f;
	padding: 3%;
	padding-bottom: 0%;
}
.bg-color-morado a {
	color: #ff66a3;
}
.nav>li>a {
	padding: 10px 50px;
}
.nav-pills {
	display:block;
}

.media-list img {
	width: 100px;
	height: 100px;
}
#img-princpal {
	width: 100%;
	height: 250px;
}
.video {
	background-color: rgba(143, 49, 88, 0.29);
	padding: 1%;
	padding-bottom: 3%;
	color: black;
}
.video a:hover {
	color:green;
}
.mas-info h4 {
	padding-top: 3%;
}
li:hover {
	color: #ff66a3;
}
section a {
	color: #80000B;
}
section a:hover {
	color: #ff66a3;
}
.aside-size-m {
	background-color: rgba(143, 49, 88, 0.29);
	padding: 0% 2%;
}
.aside-size-m h3{
	margin: 0;
}
.aside-size-m h5 {
	margin: 0;
	padding-top: 3%;
}
.etiquetas ul {
	display: inline-table;
	margin-right: 8%;
    margin-top: 5%;
}
.col-md-6 hr {
	margin-top: 50px;
	color: black;
}

/*media query*/

@media (min-width: 800px) and (max-width: 1300px){
	.container-fluid {
		width: 100%;
	}
	.col-md-8 {
		width: 100%;
	}
	.col-md-6 {
		width: 66.666667%;
	}
	.media {
		width: 50%;
	}
	aside, .desaparecer {
		visibility: hidden;
		display: none;
	}

	.nav>li>a {
	padding: 10px 25px;
	}
}

@media (min-width: 360px) and (max-width: 800px){
	[class*="col-"]{
		width: 100%;
	}
	aside, .desaparecer {
		visibility: hidden;
		display:none;
	}


}




